.index-background-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--component-foreground);
}
.index-background-image {
    width: var(--component-width);
    height: 100vh;
    border-radius: var(--component-border-radius);
    background-image: url('../../img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: border-box;
    background-color: var(--component-background);
}

@media only screen and (max-width: 800px) {
    .index-background-image {
        width: 99%;
    }
}
