.resume-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .resume {
        background-color: var(--component-background);
        border-radius: 10px;
        color: var(--component-foreground);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: calc(var(--component-width) - 1%);
    }
}

.resume-header-section {
    align-items: center;
    display: flex;
    justify-content: center;

    .resume-header {
        align-items: center;
        display: inherit;
        font-family: @opensans;
        font-size: 1em;
        font-weight: 500;
        p {
            font-size: 1.5em;
        }
    }
}

.resume-content-section {
    padding: 10px;
    background-color: bisque;
    font-family: @lato;
    display: grid;
    grid-template-areas: 
    "intro intro"
    "info profile"
    "info experience"
    "skills experience"
    "skills experience"
    "languages experience"
    "education experience"
    ;
    .resume-intro {
        grid-area: intro;
        font-size: 1.25em;
    }
    .resume-profile {
        grid-area: profile;
        font-size: 1.25em;
    }
    .resume-experience {
        grid-area: experience;
        font-size: 1.25em;
    }
    .resume-info {
        grid-area: info;
        font-size: 1.25em;
        ul {
            list-style-type: none;
            li {
                display: flex;
                align-items: center;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .resume-skills {
        grid-area: skills;
        font-size: 1.25em;
    }
    .resume-languages {
        grid-area: languages;
        font-size: 1.25em;
    }
    .resume-education {
        grid-area: education;
        font-size: 1.25em;
    }
}

.resume-download-section {
    margin-top: 15px;

    button {
        background: none;
        border: none;
        border-radius: 10px;
        color: inherit;
        font-family: @lato;
        font-size: 1.1em;
        font-weight: 900;
        outline: none;

        a {
            border: 1px solid var(--yellowgreen-color);
            border-radius: inherit;
            color: inherit;
            display: inline-block;
            height: inherit;
            padding: 5px 10px;
            text-decoration: none;
            transform: scale(1, 1);
            transition: background-color, color, 200ms ease-in-out;
            width: inherit;

            &:hover {
                background-color: var(--yellowgreen-color);
                box-shadow: 0 0 10px var(--yellowgreen-color);
                transform: scale(1.1, 1.1);
                transition: background-color, transform, 200ms ease-in-out;
            }

            i {
                color: #0c69c0;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .resume-content-section {
        grid-template-areas: 
        "intro"
        "info"
        "skills"
        "languages"
        "education"
        "profile"
        "experience"
        ;
    }
}