doctype html
html(lang='en')
    head
        include ../shared/header.pug
        title Stylo
            block title
    body
        include ../shared/navbar.pug
        main
            block content
        include ../shared/footer.pug
