.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer {
    background-color: var(--navbar-background);
    border-radius:5px 5px 0 0;
    color: var(--component-foreground);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    margin-top: 5px;
    padding: 10px;
    height: auto;
    width: var(--component-width);
}
.footer-social-media-section {
    align-items: center;
    background-color: var(--navbar-background);
    color: inherit;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 99.5%;

    a {
        color: var(--component-foreground);
    }

    i {
        border-radius: 50%;
        font-size: 1.1em;
        margin: 0 5px;
        padding: 2.5px 5px;
    }

    #twitter:hover {
        color: #00acee;
    }

    #facebook:hover {
        color: #3b5998;
        position: relative;
    }

    #instagram {
        &:hover {
            background: linear-gradient(
                90deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
            );
            background-clip: text;
            font-size: 1.1em;
            -webkit-text-fill-color: transparent;
        }
    }

    #linkedin:hover {
        color: #0a66c2;
    }
}

.footer-end-section {
    align-items: center;
    background-color: var(--navbar-background);
    border-radius: 0 0 5px 5px;
    color: var(--component-foreground);
    display: flex;
    flex-direction: column;
    font-family: @montserrat-alternates;
    font-weight: bolder;
    justify-content: center;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
    width: var(--component-width);

    header {
        margin-right: 5px;
    }

    i {
        margin: 0 2.5px 0 5px;
    }
}

.footer-title-section {
    color: inherit;

    .footer-title {
        align-items: center;
        display: flex;
        justify-content: space-between;

        header {
            font-family: @tangerine;
            font-size: 2.5em;
            letter-spacing: -2px;
            margin-bottom: 10px;
            display: flex;
            align-items: flex-start;
            img {
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }
            sup {
                font-size: 15px;
                i {
                    color: inherit;
                }
            }
        }
    }
    .footer-title-text {
        font-family: @merriweather;
    }
}

.footer-body-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.footer-info-section {
    list-style-type: none;

    .footer-info-title {
        background-color: var(--component-background);
        border-radius: 10px;
        display: flex;
        padding: 10px;

        i {
            margin-right: 10px;
        }
    }

    .footer-info {
        display: flex;
        font-size: 15px;
        margin-left: 12px;
        margin-top: 10px;

        p {
            line-break: anywhere;

            i {
                margin-right: 10px;
            }
        }
    }
}

.footer-link-section {
    border-right: 1px solid inherit;
    list-style-type: none;
    padding-right: 10px;

    .footer-link-title {
        align-items: center;
        background-color: var(--component-background);
        border-radius: 10px;
        display: flex;
        padding: 10px;

        i {
            font-size: 1em;
            margin-right: 5px;
        }
    }

    .footer-link {
        font-size: 15px;
        margin-left: 12.5px;
        margin-top: 10px;

        a {
            align-items: center;
            color: inherit;
            display: flex;
            text-decoration: none;
            transition: color, 200ms ease-in-out;
            width: 150px;

            &:hover {
                color: var(--footer-link-text-shadow-color);
                filter: drop-shadow(
                    0 0 20px var(--footer-link-text-shadow-color)
                );
                text-shadow: 0 0 20px var(--footer-link-text-shadow-color);
                transition: color, text-shadow, filter 200ms ease-in-out;
            }

            i {
                margin-right: 10px;
            }

            #fiddle {
                left: -1.5px;
                position: relative;
            }

            .external {
                position: relative;
            }

            .external-1 {
                left: 41px;
            }

            .external-2 {
                left: 43px;
            }

            .external-3 {
                left: 6px;
            }

            .external-4 {
                left: 53px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 98%;
    }

    .footer-body-section {
        grid-template-columns: 1fr 2fr;
    }

    .footer-social-media-section {
        width: 98%;
    }

    .footer-end-section {
        border-radius: 0 0 10px 10px;
        width: 98%;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-body-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .footer-link-section {
        border: none;
        padding-right: 0;
    }
}
