{
  "extends": ["stylelint-config-standard", "stylelint-config-html"],
  "overrides": [
    {
      "files": ["src/client/assets/less/**/*.less"],
      "customSyntax": "postcss-less",
      "plugins": [
        "stylelint-order"
      ],
      "rules": {
        "order/order": [
          "custom-properties",
          "declarations"
        ],
        "order/properties-alphabetical-order": true
      }
    },
    {
      "files": ["src/client/views/**/*.html"],
      "customSyntax": "postcss-html"
    }
  ]
}