{% extends 'base/base.html' %} {% block content %}

<div class="login-form-container">
  <form action="" method="post" class="form">
    <header class="login-header">Login</header>
    <div class="login-input-section">
      <div class="login-input-container uname-container">
        <i class="bi bi-person-circle login-bi-icon bi-envelope-icon-custom-style"></i>
        <input
          type="text"
          name="uname"
          id="uname"
          class="input-field uname-input"
          placeholder="Username or Email" />
      </div>
  
      <div class="login-input-container passwd-container">
        <i class="bi bi-key login-bi-icon bi-key-icon-custom-style"></i>
        <input
          type="password"
          name="passwd"
          id="passwd"
          class="input-field passwd-input"
          placeholder="Password" />
      </div>
    </div>
    

    
    <div class="help-link-container">
      <a href="#" class="forgot-passwd-link">Forgot Password?</a>
      <a href="#" class="register-account-link">New To Here? Register Here</a>
    </div>
  </form>
</div>

{% endblock %}
