extends ../templates/base.pug

block title
    | About

block content
    .about-container
        .about
            .about-intro
                .about-intro-header-section
                    header About Me
                .about-intro-content-section
                    .about-intro-content-image-section 
                        img.image(
                            src='./assets/img/hatman.svg',
                            alt='Prince Of Persia'
                        )
                    .about-intro-content-text-section 
                        p I am a Full-Stack Web Application Developer with 3 years of experience on Front-End & Back-End Programming as well as with different Front-End & Back-End Frameworks
            .about-info
                .about-info-header-section 
                    header Info
                .about-info-content-section
                    section
                        strong Name :
                        p Foster Z
                    section
                        strong Age :
                        p 17+
                    section
                        strong Location :
                        p India
                    section
                        strong Profession :
                        p Programmer
                    section
                        strong Division :
                        p Full-Stack Developer
                    section
                        strong Experience :
                        p 3+ Years
            .about-contact 
                .about-contact-header-section
                    header Contact
                .about-contact-content-section 
                    section 
                        strong Phone
                        p 7044560210
                    section 
                        strong Email
                        p stylo29105@gmail.com
                    section 
                        strong Phone
                        p 7044560210
