extends ../templates/base.pug

block title
    |
    | About

block content
    .about-container
        .about
            .about-header-section
                header About Me
            .about-content-section
                .about-content-text-section 
                    p I am a Full-Stack Web Application Developer with 3 years of experience on Front-End & Back-End Programming as well as with different Front-End & Back-End Frameworks
                .about-content-image-section 
                    img.image(src="./assets/img/img-1.jpg", alt="Prince Of Persia")