extends ../templates/base.pug
block meta
    meta(charset="UTF-8")
    meta(name="keywords", content="stylo home index portfolio")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="stylo portfolio , the best portfolio with nice interface providing services like web application development, full stack development, front end and back end, custom designing")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="canonical", href="stylo123.netlify.app/index/")
block title
    | Stylo The Best Portfolio
block content
    .index-background-image-section
        .index-background-image
            .header-section 
                h1 Heyyoo, Whats up ?
                h2 I am Foster Z
                .index-group-header
                    h3 A Full Stack Web Developer, 
                    h3 Ready To Take On Any Projects Given
            .intro-section
                h2 Why Me ?
                .intro-cards 
                    .intro-card
                        .intro-card-header 
                            i.bi.bi-speedometer
                            h3 Faster Delivery
                    .intro-card 
                        .intro-card-header
                            i.bi.bi-palette-fill
                            h3 Unique Design
                    .intro-card 
                        .intro-card-header
                            i.fa-solid.fa-sack-dollar
                            h3 Cost Effective
                    .intro-card 
                        .intro-card-header
                            i.fa-solid.fa-headset
                            h3 Customer Support
                    .intro-card 
                        .intro-card-header
                            i.bi.bi-shield-lock
                            h3 Rocksolid Structure
                    .intro-card 
                        .intro-card-header
                            i.fa-solid.fa-bars-progress
                            h3 Progress Tracking

