extends ../templates/base.pug
block meta
    meta(charset="UTF-8")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Stylo Portfolio About Page")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
block title
    |
    | Home
block content
    .index-background-image-section
        .index-background-image
            .header-section 
                |
                |
                |
                |
                |
                |
                |
                header Hello, World, I Am Foster Z
