extends ../templates/base.pug
block title
    |  Home
block content
    .index-background-image-section
        .index-background-image
            .header-section 
                header Hello, World, I Am Foster Z
            
    