extends ../templates/base.pug
block title
    |
    | Progress
block content
    .card-container
        header MY SKILLSETS
        .cards
            include ../components/progress-card.pug
            +progress-card(32, "progress-1",  "ReactJS",       "Front End Framework",  "./assets/img/reactjs.png", "ReactJS")
            +progress-card(41, "progress-2",  "VueJS",         "Front-End Framework",  "./assets/img/vuejs.png", "VueJS")
            +progress-card(32, "progress-3",  "Angular",       "Front-End Framework",  "./assets/img/angular.png", "Angular")
            +progress-card(30, "progress-4",  "Svelte",        "Front-End Framework",  "./assets/img/svelte.png", "Svelte")
            +progress-card(40, "progress-5",  "Astro",         "Front-End Framework",  "./assets/img/astro.png", "Astro")
            +progress-card(40, "progress-6",  "Ember",         "Front-End Framework",  "./assets/img/ember.png", "Ember")
            +progress-card(70, "progress-25", "NextJS",        "Front-End Framework",  "./assets/img/nextjs.png", "NextJS")
            +progress-card(40, "progress-7",  "Vaadin Flow",   "Front-End Framework",  "./assets/img/flow.png", "Vaadin Flow")
            +progress-card(40, "progress-31", "Lit",           "Front-End Framework",  "./assets/img/lit.png", "Lit")
 
            +progress-card(60, "progress-8",  "Bootstrap",     "Style-End Framework",  "./assets/img/bootstrap.png", "BootStrap")
            +progress-card(80, "progress-9",  "TailWind",      "Style-End Framework",  "./assets/img/tailwindcss.png", "TailWind")
            +progress-card(70, "progress-10", "Foundation",    "Style-End Framework",  "./assets/img/foundation.png", "Foundation")
 
            +progress-card(70, "progress-11", "NestJS",        "Back-End Framework",   "./assets/img/nestjs.png", "NestJS")
            +progress-card(70, "progress-12", "AdonisJS",      "Back-End Framework",   "./assets/img/adonisjs.png", "AdonisJS")
            +progress-card(70, "progress-13", "Flask",         "Back-End Framework",   "./assets/img/flask.png", "Flask")
            +progress-card(70, "progress-14", "NodeJS",        "Back-End JS Runtime",  "./assets/img/nodejs.png", "NodeJS")

            +progress-card(70, "progress-15", "Fresh",         "Full-Stack Framework", "./assets/img/Fresh.png", "Fresh")
            +progress-card(70, "progress-16", "Laravel",       "Full-Stack Framework", "./assets/img/laravel.png", "Laravel")
            +progress-card(70, "progress-17", "Actix Web",     "Full-Stack Framework", "./assets/img/actixweb.png", "Actix Web")
            +progress-card(70, "progress-26", "Gin",           "Full-Stack Framework", "./assets/img/gin.png", "Gin")
            +progress-card(70, "progress-18", "Remix",         "Full-Stack Framework", "./assets/img/remix.png", "Remix")
            +progress-card(70, "progress-18", "Django",        "Full-Stack Framework", "./assets/img/django.png", "Django")
            +progress-card(70, "progress-19", "Ruby On Rails", "Full-Stack Framework", "./assets/img/rubyonrails.png", "Ruby On Rails")
            +progress-card(70, "progress-24", "Phoenix",       "Full-Stack Framework", "./assets/img/phoenix.png", "Phoenix")

            +progress-card(70, "progress-20", "PostgreSQL",    "SQL Database",   "./assets/img/postgresql.png", "PostgreSQL")
            +progress-card(70, "progress-21", "MySQL",         "SQL Database",   "./assets/img/mysql.png", "MySQL")
            +progress-card(70, "progress-22", "MongoDB",       "NoSQL Database", "./assets/img/mongo.png", "MongoDB")
            +progress-card(70, "progress-23", "Redis",         "NoSQL Database", "./assets/img/redis.png", "Redis")
            
            