extends ../templates/base.pug
block title
    |
    | Progress
block content
    .card-container
        .cards
            include ../components/progress-card.pug
            +progress-card(32, "progress-1", "ReactJS", "Front End Framework", "./assets/img/reactjs.png", "ReactJS")
            +progress-card(41, "progress-2", "VueJS", "Front End Framework", "./assets/img/vuejs.png", "VueJS")
            +progress-card(32, "progress-3", "Angular", "Front-End Framework", "./assets/img/angular.png", "Angular")
            +progress-card(30, "progress-4", "Svelte", "Front-End Framework", "./assets/img/svelte.png", "Svelte")
            +progress-card(40, "progress-5", "Astro", "Front-End Framework", "./assets/img/astro.png", "Astro")
            +progress-card(60, "progress-6", "Bootstrap", "Style-End Framework", "./assets/img/bootstrap.png", "BootStrap")
            +progress-card(80, "progress-7", "TailWind", "Style-End Framework", "./assets/img/tailwindcss.png", "TailWind")
            +progress-card(70, "progress-8", "Foundation", "Style-End Framework", "./assets/img/foundation.png", "Foundation")
