extends ../templates/base.pug
block title
    | Progress
block content
    .card-container
        .cards
            include ../components/progress-card.pug
            +progress-card
            +progress-card