extends ../templates/base.pug
block title
    |
    | Progress
block content
    .card-container
        .cards
            include ../components/progress-card.pug
            +progress-card(32, "progress-1", "ReactJS", "Front End Framework", "./assets/img/nextjs.png", "ReactJS")
            +progress-card(41, "progress-2", "VueJS", "Front End Framework", "./assets/img/adonis.png", "VueJS")
            +progress-card(32, "progress-3", "Angular", "Front-End Framework", "./assets/img/angular.png", "Angular")
            +progress-card(30, "progress-4", "Svelte", "Front-End Framework", "./assets/img/nestjs.png", "Svelte")
            //- +progress-card(
            //-     40,
            //-     "progress-5",
            //-     "NestJS", 
            //-     "Back-End Framework", 
            //-     "./assets/img/nestjs.webp", 
            //-     "NestJS"
            //- )
            //- +progress-card(
            //-     60,
            //-     "progress-6",
            //-     "AdonisJS", 
            //-     "Back-End Framework", 
            //-     "./assets/img/adonisjs.jpg", 
            //-     "AdonisJS"
            //- )
            //- +progress-card(
            //-     80,
            //-     "progress-7",
            //-     "Bootstrap", 
            //-     "CSS Style Framework", 
            //-     "./assets/img/bootstrap.webp", 
            //-     "Bootstrap"
            //- )
            //- +progress-card(
            //-     70,
            //-     "progress-8",
            //-     "TailwindCSS", 
            //-     "CSS Style Framework", 
            //-     "./assets/img/tailwindcss.webp", 
            //-     "Bootstrap"
            //- )
