extends ../templates/base.pug
block meta
    meta(charset='UTF-8')
    meta(name='keywords', content='Foster Z Portfolio Website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Foster Z Works & Projects')
    meta(name='robots', content='index,nofollow')
    meta(name='description', content='Foster Z | Portfolio | Works ')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='canonical', href='https://fosterz.netlify.app')
block title
    | Foster Z | Portfolio | Works
block content
    .works-container 
        |
        h1 Projects Works
        .works 
            |
            .work-section 
                |
                img(
                    src='./assets/img/logoweb.png',
                    alt='Portfolio Image Logo'
                )
                .work-section-content
                    h2 Stylo
                    h4 Personal Portfolio Website Using (Pug / HTML / SCSS / JavaScript / ViteJS)
                    h4 Status: Completed
                    ul 
                        |
                        strong Features:
                        li Custom Designed
                        li Responsive Design
                        li Animated Effects

                    a(href='https://github.com/Foster0123/Portfolio') 
                        |
                        | GitHub Project
                        i.fa-solid.fa-arrow-up-right-from-square
                    a(href='https://fosterz.netlify.app') 
                        |
                        | App In Production
                        i.fa-solid.fa-arrow-up-right-from-square
            .work-section 
                |
                img(
                    src='./assets/img/authly.png',
                    alt='Authly Image Logo'
                )
                .work-section-content
                    h2 Authly
                    h4 Authentication Application Using (Pug / NodeJS / ExpressJS / PostgreSQL)
                    h4 Status: Work In Progress(80% Finished)
                    ul 
                        |
                        strong Features:
                        li Registering For Accounts
                        li Logging In Accounts
                        li Updating Account Infos
                        li Responsive Design

                    a(href='https://github.com/Foster0123/Authly') 
                        |
                        | GitHub Project
                        i.fa-solid.fa-arrow-up-right-from-square
                    a(href='#') 
                        |
                        | App In Production
                        i.fa-solid.fa-arrow-up-right-from-square

            .work-section 
                |
                img(src='./assets/img/fluid.png', alt='Fluid Image Logo')
                .work-section-content
                    h2 Fluid
                    h4 Chat Application Using (Angular / Deno / SCSS / MySQL)
                    h4 Status: Work In Progress
                    ul 
                        |
                        strong Features:
                        li Registering For Accounts
                        li Logging Into Accounts
                        li Updating Account Infos
                        li Multiple Chats
                        li Smooth Chatting
                        li Exotic Interface
                        li Fully Responsive
                    a(href='https://github.com/Foster0123/Fluid') 
                        |
                        | GitHub Project
                        i.fa-solid.fa-arrow-up-right-from-square
                    a(href='#') 
                        |
                        | App In Production
                        i.fa-solid.fa-arrow-up-right-from-square
            .work-section 
                |
                img(src='./assets/img/blaze.png', alt='Blaze Image Logo')
                .work-section-content
                    h2 Blaze
                    h4 Todo Application Using (ReactJS / NodeJS / ExpressJS / Redis)
                    h4 Status: Work In Progress
                    ul Features:
                        |
                        li Registering For Accounts
                        li Logging In Accounts
                        li Updating Account Infos
                        li Creating Todos
                        li Update, Complete, Manage, Create Todos
                        li Sorting Todos In Different Ways
                        li Responsive , Intuitive

                    a(href='https://github.com/Foster0123/Blaze') 
                        |
                        | GitHub Project
                        i.fa-solid.fa-arrow-up-right-from-square
                    a(href='#') 
                        |
                        | App In Production
                        i.fa-solid.fa-arrow-up-right-from-square
