@tangerine: 'Tangerine', sans-serif;

@roboto: 'Roboto', sans-serif;

@opensans: 'Open Sans', sans-serif;

@redhatmono: 'Red Hat Mono', monospace;

@montserrat-alternates: 'Montserrat Alternates', sans-serif;

@merriweather: 'Merriweather', serif;
