@light: rgba(255, 255, 255, 0.7);
@dark: rgba(0, 0, 0, 0.7);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: @light;
    color: @dark;
    font-family: @roboto;
    font-size: 1.1em;
}
html {
    scroll-behavior: smooth;
}
main {
    margin-top: 70px;
}
