* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // transition: color, background-color, var(--transition-duration) ease-in-out;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: @merriweather;
    font-size: 1.1em;
    height: 100%;
    justify-content: space-between;
}

html {
    background-color: var(--global-background);
    color: var(--global-foreground);
    height: 100vh;
    scroll-behavior: smooth;
}

main {
    margin-top: 65px;
    width: 100%;
}

.dark-theme {
    --component-foreground: #fbfaf5 !important;
    --component-background: #181818 !important;
    --global-foreground: #f8f8f8ec !important;
    --global-background: #000000ec !important;
    --navbar-background: #1f1d1d !important;
}

@media only screen and (max-width: 800px) {
    main {
        width: var(--component-width);
    }
}
