html {
    // ------------------- > Dark Color Scheme < --------------------->
    --dark-theme-component-foreground: #fbfaf5;
    --dark-theme-component-background: #181818;
    --dark-theme-global-foreground: #f8f8f8ec;
    --dark-theme-global-background: #000000ec;
    --dark-theme-nav-link-background: #1f1d1d;
    --dark-theme-navbar-background: #fdf9f9;
    // ------------------- > Light Color Scheme < --------------------->
    --light-theme-component-foreground: #181818;
    --light-theme-component-background: #fbfaf5;
    --light-theme-global-foreground: #000000ec;
    --light-theme-global-background: #f8f8f8ec;
    --light-theme-nav-link-background: #fffc;
    --light-theme-navbar-background: #fdf9f9;

    // ------------------- > Static Colors < --------------------->

    --theme-button-background: white;
    --navlist-background: gray;
    --navlink-background: #6e6a6a3f;
    --header-title-text-shadow: rebeccapurple;
    --theme-button-text-shadow: #000;
    --yellowgreen-color: #9acd32;
    --scrollbar-track-color: gray;
    --scrollbar-thumb-color: #f0f8ff;
    --progressbar-inner-color: linear-gradient(90deg, pink, purple);
    --service-header-icon-color: linear-gradient(45deg, purple, orange);
    --service-rocket-icon-color: linear-gradient(45deg, red ,yellow);
    --service-cs-gradient-color: linear-gradient(45deg, #EDE342 ,#F2BF6C, #F69A97, #FB76C1, #FF51EB);
    --service-card-award-icon-color: linear-gradient(45deg, rgb(255, 233, 34), gold);
    --progressbar-outer-color: #e5b8f4;

    // ------------------- > Shared Colors < --------------------->->
    --component-foreground: #181818;
    --component-background: #fbfaf5;
    --global-foreground: #0000;
    --global-background: #f8f8f8ec;
    --navbar-background: #e9e6e6;

    // ---------------------------------------->
    --transition-duration: 200ms;
    --component-width: 99.5%;
    --scrollbar-width: 7px;
    --component-border-radius: 5px 5px 10px 10px;
    --top-link-border-radius: 20px 20px 0 0;
    --bottom-link-border-radius: 0 0 20px 20px;
    --mobile-navlist-width: 160px;
    --about-section-titles-font-size: 1.6em;
}
