:root {
    --dark-theme-logo-color: #639;
    // ---------------------------------------->
    --dark-theme-component-foreground: #FBFAF5;
    --dark-theme-component-background: #181818;
    --dark-theme-nav-link-foreground: lime;
    --dark-theme-nav-link-background: #00000080;
    // ---------------------------------------->
    --light-theme-component-foreground:   #181818;
    --light-theme-component-background:  #FBFAF5;
    --light-theme-nav-link-foreground: purple;
    --light-theme-nav-link-background:#ffffffcc;

    // ---------------------------------------->
    --card-box-shadow-color: #c50c0c;
    --theme-button-border-size: 2.5px;
    --theme-button-text-shadow: #000000;
    --theme-button-background: white;
    --resume-button-background:yellowgreen;
    --resume-icon-color:orangered;
    --footer-link-text-shadow-color: yellowgreen;
    
    // ---------------------------------------->
    --component-foreground: #FBFAF5;
    --component-background: rgb(24, 24, 24);
    --global-foreground: rgba(0,0,0,0.8);
    --navbar-background: #1616185d;
    --nav-link-background:  #00000080;
    --nav-link-foreground: lime;
    --header-title-text-shadow: rebeccapurple;
    --scrollbar-track-color: gray;
    --scrollbar-thumb-color: #f0f8ff;
    // ---------------------------------------->
    --transition-duration: 300ms;
    --component-width: 99.5%;
    --scrollbar-width: 7px;
    --component-border-radius: 5px 5px 10px 10px;
    --top-link-border-radius:20px 20px 0 0;
    --bottom-link-border-radius:0 0 20px 20px;
    --mobile-navlist-width: 160px;
    --about-section-titles-font-size: 1.5em;
    
}
