:root {
    --dark-theme-foreground-color: #fffc;
    --dark-theme-background-color: #000000;
    --dark-theme-nav-link-background-color: #4a4d4d99;
    --dark-theme-nav-link-foreground-color: #0dfc79;
    --dark-theme-component-background-color: #1f1c1cce;
    --dark-theme-component-foreground-color: #fff;
    --dark-theme-link-text-color: #0dd7f1;
    --dark-theme-logo-color: #639;
    --dark-theme-title-color: rebeccapurple;
    --dark-theme-scrimba-icon-color: #fff;
    --light-theme-foreground-color: #000;
    --light-theme-background-color: #fff;
    --light-theme-nav-link-color: #000;
    --light-theme-component-foreground-color: #4a0e4d;
    --light-theme-component-background-color: #000;
    --light-theme-link-text-color: #000;
    --light-theme-logo-color: #000;
    --light-theme-scrimba-icon-color: #000;
    --navbar-link-background-color: #06d1f5;
    --navbar-link-section-box-shadow-color: white;
    --card-box-shadow-color: white;
    --theme-button-border-size: 2.5px;
    --theme-button-text-shadow-color: white;
    --footer-link-text-shadow-color: yellowgreen;
    --scrollbar-width: 7px;
    --scrollbar-track-color: gray;
    --scrollbar-thumb-color: aliceblue;
    --rainbow-color: linear-gradient(
        45deg,
        #f00,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #f00
    );
    // color-scheme: dark light;

    --transition-duration: 300ms;
    --component-width: 99.5%;
    --component-border-radius: 5px 5px 10px 10px;
}
