{% extends 'base/base.html' %} {% block content %}
<div class="userinfo-container">
  <div class="userinfo"></div>
</div>
<div class="preview-container">
  <div class="item-container">
    <div class="card-container">
      <div class="card">
        <header class="card-header">Project</header>
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8&w=1000&q=80"
          alt="Card Image Preview" />
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ut
          eaque reprehenderit pariatur velit quisquam.
        </p>
        <div class="btn-group">
          <div class="icon-group">
            <i class="bi bi-heart like-btn" id="like-btn"></i>
          </div>
          <button class="btn codepen-btn">
            <i class="fa-brands fa-codepen"></i>
            Codepen
            <i class="bi bi-arrow-up-right" id="arrow-vertical"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <header class="card-header">Project</header>
        <img
          class="card-image"
          src="https://images.hdqwalls.com/wallpapers/pattern-violet-graphics-4k-k2.jpg"
          alt="Card Image Preview" />
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ut
          eaque reprehenderit pariatur velit quisquam.
        </p>
        <div class="btn-group">
          <div class="icon-group">
            <i class="bi bi-heart like-btn" id="like-btn"></i>
          </div>
          <button class="btn codepen-btn">
            <i class="fa-brands fa-codepen"></i>
            Codepen
            <i class="bi bi-arrow-up-right" id="arrow-vertical"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <header class="card-header">Project</header>
        <img
          class="card-image"
          src="https://cutewallpaper.org/25/anime-trees-wallpaper-hd/851914269.jpg"
          alt="Card Image Preview" />
        <p class="description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ut
          eaque reprehenderit pariatur velit quisquam.
        </p>
        <div class="btn-group">
          <div class="icon-group">
            <i class="bi bi-heart like-btn" id="like-btn"></i>
          </div>
          <button class="btn codepen-btn">
            <i class="fa-brands fa-codepen"></i>
            Codepen
            <i class="bi bi-arrow-up-right" id="arrow-vertical"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
