footer.footer-container
    .footer
        .footer-title-section
            .footer-title
                header
                    img(src='./assets/img/logoweb.png', alt='Hat Logo')
                    | Foster Z
                    //- sup
                    //-     i.bi.bi-badge-tm
            p.footer-title-text
                | Personal Portfolio Site
        .footer-body-section
            ul.footer-link-section
                li.footer-link-title
                    i.fa-solid.fa-paperclip
                    p.footer-link-title-text
                        | External
                li.footer-link
                    a(href='https://codepen.io/Foster_Z')
                        i.fa-brands.fa-codepen
                        p CodePen
                        i.external.external-1.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='#')
                        i#fiddle.fa-brands.fa-jsfiddle
                        p JSFiddle
                        i.external.external-2.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='https://codesandbox.io/u/foster_123')
                        i.fa-regular.fa-square
                        p CodeSandBox
                        i.external.external-3.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='https://github.com/Foster0123')
                        i.fa-brands.fa-github
                        p GitHub
                        i.external.external-4.bi.bi-box-arrow-up-right
            ul.footer-info-section
                li.footer-info-title
                    i.bi.bi-info-circle-fill
                    p.footer-info-title-text
                        | About
                li.footer-info
                    p
                        i.bi.bi-geo-alt-fill
                        | India
                li.footer-info
                    p
                        i.bi.bi-globe
                        | fosterz.netlify.app
                li.footer-info
                    p
                        i.bi.bi-telephone
                        | +(91) 7044560210
                li.footer-info
                    p
                        i.bi.bi-envelope
                        | fosterunlimited0123@gmail.com
    .footer-social-media-section
        a.twitter(href='https://twitter.com/fosterz2932', target='_blank')
            i#twitter.bi.bi-twitter
        a.instagram(
            href='https://www.instagram.com/fosterz0123',
            target='_blank'
        )
            i#instagram.bi.bi-instagram
        a.linkedin(href='https://www.linkedin.com/in/fz123', target='_blank')
            i#linkedin.bi.bi-linkedin
    .footer-end-section
        header Copyright
            i.bi.bi-c-circle
            | 2022-Present
            sup
                i.bi.bi-r-circle
        header
            | Foster Z