footer.footer-container
    .footer
        .footer-title-section
            header.footer-title
                i.fa-brands.fa-redhat
                | Stylo
                sup
                    i.bi.bi-badge-tm
            p.footer-title-text
                |
                | Personal Portfolio Site
        .footer-body-section
            ul.footer-link-section
                li.footer-link-title
                    svg#footer-link-title-icon
                        use(href='./assets/img/feather-sprite.svg#link-2' crossorigin="anonymous")
                    p.footer-link-title-text
                        | External
                li.footer-link
                    a(href='#')
                        i.fa-brands.fa-codepen
                        | Codepen
                li.footer-link
                    a(href='#')
                        i.bi.bi-book
                        | Scrimba
                li.footer-link
                    a(href='#')
                        i.bi.bi-book
                        | Link-3
                li.footer-link
                    a(href='#')
                        i.fa-brands.fa-github
                        | GitHub
            ul.footer-info-section
                li.footer-info-title
                    i.bi.bi-info-circle-fill
                    p.footer-info-title-text
                        | About
                li.footer-info
                    p
                        i.bi.bi-geo-alt-fill
                        | India
                li.footer-info
                    p
                        i.bi.bi-telephone
                        | + 91 7044560210
                li.footer-info
                    p
                        i.bi.bi-envelope
                        | fosterunlimited0123@gmail.com
                li.footer-info
                    p
                        i.bi.bi-globe
                        | www.stylo.com

    .footer-end-section
        header Copyright
            i.bi.bi-c-circle
            | 2022-Present
            sup
                i.bi.bi-r-circle
        header 
            |
            | Foss & Teams
