footer.footer-container
    .footer
        .footer-title-section
            header.footer-title
                i.fa-brands.fa-redhat
                | Stylo
                sup
                    i.bi.bi-badge-tm
            p 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iste dicta voluptatem voluptate nesciunt dolorum quos quas veritatis sint earum!
        .footer-body-section
            ul.footer-link-section
                li.footer-link-title
                    i.bi.bi-link-45deg
                    p.footer-title
                        | References
                li.footer-link
                    a(href='#')
                        //- i.bi.bi-book
                        | Link-1
                li.footer-link
                    a(href='#')
                        //- i.bi.bi-book
                        | Link-2
                li.footer-link
                    a(href='#')
                        //- i.bi.bi-book
                        | Link-3
                li.footer-link
                    a(href='#')
                        //- i.bi.bi-book
                        | Link-4
    .footer-end-section
        header Copyright
            i.bi.bi-c-circle
            | 2022-Present
            sup
                i.bi.bi-r-circle
        header 
            | Foss & Teams
