footer.footer-container
    .footer
        .footer-title-section
            .footer-title
                header
                    i.fa-brands.fa-redhat
                    | Stylo
                    sup
                        i.bi.bi-badge-tm
            p.footer-title-text
                | Personal Portfolio Site
        .footer-body-section
            ul.footer-link-section
                li.footer-link-title
                    svg#footer-link-title-icon
                        use(
                            href='./assets/img/feather-sprite.svg#link-2',
                            crossorigin='anonymous'
                        )
                    p.footer-link-title-text
                        | External
                li.footer-link
                    a(href='https://codepen.io/Foster_Z')
                        i.fa-brands.fa-codepen
                        | CodePen
                        i.external.external-1.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='#')
                        i#fiddle.fa-brands.fa-jsfiddle
                        | JSFiddle
                        i.external.external-2.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='https://codesandbox.io/u/foster_123')
                        i.fa-regular.fa-square
                        | CodeSandBox
                        i.external.external-3.bi.bi-box-arrow-up-right
                li.footer-link
                    a(href='https://github.com/Foster0123')
                        i.fa-brands.fa-github
                        | GitHub
                        i.external.external-4.bi.bi-box-arrow-up-right
            ul.footer-info-section
                li.footer-info-title
                    i.bi.bi-info-circle-fill
                    p.footer-info-title-text
                        | About
                li.footer-info
                    p
                        i.bi.bi-geo-alt-fill
                        | India
                li.footer-info
                    p
                        i.bi.bi-globe
                        | www.stylo.com
                li.footer-info
                    p
                        i.bi.bi-telephone
                        | + 91 7044560210
                li.footer-info
                    p
                        i.bi.bi-envelope
                        | stylo29105@gmail.com
    .footer-social-media-section
        a.twitter(href="#")
            i.bi.bi-twitter#twitter
        a.instagram(href="#")
            i.bi.bi-instagram#instagram
        a.facebook(href="#")
            i.bi.bi-facebook#facebook
        a.linkedin(href="#")
            i.bi.bi-linkedin#linkedin
    .footer-end-section
        header Copyright
            i.bi.bi-c-circle
            | 2022-Present
            sup
                i.bi.bi-r-circle
        header 
            |
            |
            |
            |
            |
            |
            | Foss & Teams
