nav.navbar-container
    #navbar-container.navbar
        section.navbar-header-section
            i#icon.fa-brands.fa-redhat
            header#header.header-section-title Stylo
        ul#link-container.navbar-link-section
            li.navbar-link
                a.navbar-nested-link(href='/') Home
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./about.html') About
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./resume.html') CV Resume
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./progress.html') Progress
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./services.html') Services
        ul.navbar-btn-container
            li.theme-btn
                i#toggle-btn.bi.bi-brightness-high
            li.menu
                i#hamburger.fa-solid.fa-hamburger
