.navbar
    nav#navbar-container.nav-container
        section.header
            i#icon.fa-brands.fa-redhat
            header#header.title Stylo
        ul#link-container.link-container.no-display
            li.link.link-1
                a.navbar-nested-link(href='#') Home
            li.link.link-2
                a.navbar-nested-link(href='#') Login
            li.link.link-3
                a.navbar-nested-link(href='#') Signup
            li.link.link-4
                a.navbar-nested-link(href='#') GitHub
        ul.profile-container
            li.theme-btn
                i#toggle-btn.bi.bi-moon-stars
        ul#hamburger.utilities-container
            i.fa-solid.fa-hamburger
