nav.navbar-container
    #navbar-container.navbar
        section.navbar-header-section
            img(src='./assets/img/logoweb.png', alt='Hat Logo')
            h1#header.header-section-title Foster Z
        ul#link-container.navbar-link-section
            li.navbar-link
                a.navbar-nested-link(href='/index.html') Home
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./about.html') About
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(
                    href='./Foster Z Standard Resume.pdf',
                    download
                ) CV Resume
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./works.html') Works
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./skillset.html') Skillset
            li.navbar-link.navbar-middle-link
                a.navbar-nested-link(href='./services.html') Services
        ul.navbar-btn-container
            li.theme-btn
                i#toggle-btn.bi.bi-brightness-high
            li.menu
                i#hamburger.fa-solid.fa-hamburger
