.navbar
    nav#navbar-container.nav-container
        section.header
            //- i#icon.fa-brands.fa-redhat
            img#icon(src='./assets/img/redhat.svg', alt='Crystal Icon')
            header#header.title Stylo
        ul#link-container.link-container.no-display
            li.link
                a.navbar-nested-link(href='#') Home
            li.link.middle-link
                a.navbar-nested-link(href='#') About
            li.link.middle-link
                a.navbar-nested-link(href='#') Experiences
            li.link.middle-link
                a.navbar-nested-link(href='#') Works
            li.link.middle-link
                a.navbar-nested-link(href='#') Gallery
        ul.profile-container
            li.theme-btn
                i#toggle-btn.bi.bi-moon-stars
        ul#hamburger.utilities-container
            i.fa-solid.fa-hamburger
