mixin progress-card
    .tilting-card-content
        img(src="./assets/img/img-1.jpg", alt="")
        header Tilting card
        p with css only!
        .mouse-position-tracker
            div
            div
            div
            div
            div
            div
            div
            div
            div
